<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VirtualStore_businessinfo</title>
</head>

<body>
	<div th:fragment="businessinfo_contents">

		<!-- breadcrumb start-->
		<section class="breadcrumb breadcrumb_bg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="breadcrumb_iner">
							<div class="breadcrumb_iner_item">
								<h2>business info</h2>
								<p>
									Home <span>-</span> business info
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb start-->

		<div class="container">
			<div class="col-sm-auto mt-5 mb-2">
				<div class="row align-items-center justify-content-between">
					<div class="float-left">
						<!--CSV出力用のリンク-->
						<a class="btn btn-primary" th:href="@{'/business_info/csv'}">CSV出力</a>
					</div>
					<div class="col-center">
						<!--更新・削除処理の結果表示用-->
						<label class="text-info" th:text="${result}">結果表示</label>
					</div>
				</div>
			</div>
			<table class="table table-bordered table-hover text-center ">
				<tr>
					<th class="info col-sm-auto">取引ID</th>
					<th class="info col-sm-auto">顧客名</th>
					<th class="info col-sm-auto">商品名</th>
					<th class="info col-sm-auto">金額</th>
					<th class="info col-sm-auto">取引日</th>
					<th class="info col-sm-auto text-danger"><label th:text="'合計：'+${businessListCount}+'件'"> </label>
					</th>
				</tr>
				<tr th:each="businessInfoList:${businessInfoList}">
					<td th:text="${businessInfoList.business_id}"></td>
					<td th:text="${businessInfoList.user_name}"></td>
					<td th:text="${businessInfoList.product_name}"></td>
					<td th:text="${businessInfoList.business_sales}"></td>
					<!--ポイント１：日付型のフォーマット-->
					<td th:text="${#dates.format(businessInfoList.create_at,'YYYY/MM/dd')}"></td>
					<td>
						<form th:action="@{/business_info}" method="post">
							<input type="submit" class="btn btn-outline-danger"
								th:action="@{/business_info}" name="delete" value="削除">
							<input type="hidden" name="id"
								th:value="${businessInfoList.business_id}">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
