<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div th:fragment="productsdetail_contents">

	<!-- breadcrumb start-->
		<section class="breadcrumb breadcrumb_bg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="breadcrumb_iner">
							<div class="breadcrumb_iner_item">
								<h2>product detail</h2>
								<p>
									Home <span>-</span> product detail
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb start-->

		<div class="container">
			<div class="col-sm-auto">
				<div
					class="font-sans bg-white text-center my-10 mx-auto container overflow-hidden">
					<form method="post" th:action="@{/products_detail}"
						th:object="${productRegistForm}">
						<table class="table table-bordered table-hover">
							<tr>
								<td>
									<div class="form-group">
										<input type="hidden" class="form-control"
											th:field="*{productId}">
									</div>
								</td>
							</tr>
							<tr>
								<th class="active">商品名</th>
								<td>
									<div class="form-group"
										th:classappend="${#fields.hasErrors('productName')}?'has-error'">
										<input type="text" class="form-control"
											th:field="*{productName}" /> <span class="text-danger"
											th:if="${#fields.hasErrors('productName')}"
											th:errors="*{productName}">Error message</span>
									</div>
								</td>
							</tr>
							<tr>
								<th class="active">価格</th>
								<td>
									<div class="form-group"
										th:classappend="${#fields.hasErrors('price')}?'has-error'">
										<input type="text" class="form-control" th:field="*{price}" />
										<span class="text-danger"
											th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error
											message</span>
									</div>
								</td>
							</tr>
							<tr>
								<th class="active">在庫</th>
								<td>
									<div class="form-group"
										th:classappend="${#fields.hasErrors('stock')}?'has-error'">
										<input type="text" class="form-control" th:field="*{stock}" />
										<span class="text-danger"
											th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">Error
											message</span>
									</div>
								</td>
							</tr>
						</table>
						<!-- 更新 ボタン -->
						<button class="btn btn-primary btn-lg pull-right" type="submit"
							name="update">Update</button>
						<!-- 削除 ボタン -->
						<button class="btn btn-danger btn-lg" type="submit" name="delete">
							Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
