<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="css\bootstrap.mylibrary.css" rel="stylesheet">
	<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
	<title>VirtualStore_userinfo</title>
</head>

<body>
	<div th:fragment="userinfo_contents">
		<link href="css\bootstrap.mylibrary.css" rel="stylesheet">
		<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
		<div class="container">
			<div class="col-sm-auto">
				<div class="flex items-center justify-content-end">
					<!--CSV出力用のリンク-->
					<a class="btn btn-primary" th:href="@{'/user_info/csv'}">CSV出力</a>
				</div>
				<div class="flex items-center justify-content-between">
					<!--更新・削除処理の結果表示用-->
					<label class="text-info" th:text="${result}">結果表示</label>
					<!--ユーザー一覧の件数-->
					<label th:text="'合計：'+${userListCount}+'件'"> </label>
				</div>
				<table class="table table-bordered table-hover text-center ">
					<tr>
						<th class="info col-sm-auto">ユーザID</th>
						<th class="info col-sm-auto">ユーザ名</th>
						<th class="info col-sm-auto">生年月日</th>
						<th class="info col-sm-auto">性別</th>
						<th class="info col-sm-auto"></th>
					</tr>
					<tr th:each="userMst:${userList}">
						<td th:text="${userMst.user_id}"></td>
						<td th:text="${userMst.user_name}"></td>
						<!--ポイント１：日付型のフォーマット-->
						<td th:text="${#dates.format(userMst.user_birthday,'YYYY/MM/dd')}"></td>
						<td th:text="${userMst.user_gender}"></td>
						<td><a class="btn btn-info"
							th:href="@{'/user_detail/'+${userMst.user_id}}">詳細</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
